body {
  background: repeating-linear-gradient(
    225deg,
    #888888 0%,
    #9090b7 50%,
    #a8f0ff 100%
  );
  margin: auto;
  max-width: 900px;
}

header {
  text-align: center;
}

video {
  display: block;
  margin: 0 auto;
}
.form-style {
  gap: 10px;
  display: flex;
  flex-direction: column;
  max-width: 30%;
}

figure {
  margin-top: 1%;
  margin-left: 0;
}

table,
th,
td {
  border-collapse: collapse;
  border: 1px solid;
  width: 900px;
  margin: auto;
  text-align: center;
}

thead {
  font-style: italic;
}

.clothes {
  display: flex;
  justify-content: space-between;
  margin: 25px 0 25px;
}

.img {
  box-shadow: 0px 0px 20px rgb(138, 138, 138);
  border: 1px solid gray;
  border-radius: 15px;
}
