html {
  height: 100%; }

body {
  margin-top: 8em;
  overflow: hidden; }

.form-title {
  text-align: center;
  color: #161717;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  animation-name: title;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.05, 1.04, 1, 0.98);
  animation-fill-mode: forwards;
  position: relative; }

@keyframes title {
  0% {
    top: -300px; }
  100% {
    top: 0; } }

.registration-form {
  padding: 0 10px;
  max-width: 95%;
  width: 400px;
  margin: 0 auto;
  animation-name: reg-form;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  position: relative;
  box-sizing: border-box; }

@keyframes reg-form {
  0% {
    top: 500px; }
  100% {
    top: 0; } }

label {
  display: block;
  margin-bottom: 5px; }

input {
  height: 5vh;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-sizing: border-box; }

.terms {
  align-items: center;
  display: flex;
  gap: 10px; }

.registration-form [type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #1daf07;
  color: white;
  border: 1px solid black;
  border-radius: 10px;
  font-family: "Fira Sans", sans-serif;
  font-size: 16px; }

.registration-form [type="submit"]:hover {
  border: 1px solid black;
  background-color: #00bc00;
  cursor: pointer; }

.registration-form .terms input[type="checkbox"] {
  margin: 0;
  width: 3%;
  margin-bottom: 10px;
  vertical-align: middle; }

.registration-form .terms input[type="checkbox"]:hover {
  cursor: pointer; }

p {
  margin: 0;
  margin-bottom: 10px;
  vertical-align: middle; }
  p a {
    text-decoration: none; }
    p a:visited {
      color: purple; }
    p a:hover {
      color: #c34996; }

input:invalid:not(:placeholder-shown) {
  border: 2px solid red; }

input:valid:focus {
  border: 3px solid green; }

input:valid {
  border: 2px solid green; }

input:focus {
  background-color: #ececec; }
