@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"),
    url(https://example.com/MaterialIcons-Regular.woff) format("woff"),
    url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Fira Sans", sans-serif;
  background: repeating-linear-gradient(
    225deg,
    #888888 0%,
    #9090b7 50%,
    #a8f0ff 100%
  );
  margin: 0 0 0;
}

.body-part {
  margin: auto;
  margin-top: 50px;
  max-width: 900px;
}

.nav-bar {
  background-color: rgba(252, 252, 252, 0.6);
  border-radius: 0 0 15px 15px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2;
}

.nav-bar-links__link {
  color: whitesmoke;
  padding: 5px 10px;
  border-radius: 20px;
  text-decoration: none;
  background-color: #9090b7;
}

.nav-bar__title {
  font-family: "Kalam", cursive;
  margin: 0;
}

.nav-bar-links {
  display: flex;
  gap: 15px;
  font-size: 17px;
}

.table-container {
  display: flex;
}

.table-container__table {
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
}

.table-container__table,
th,
td {
  border-collapse: collapse;
  border: 1px solid;
  width: 900px;
  margin: auto;
  text-align: center;
}

thead {
  font-style: italic;
}

.clothes {
  height: 280px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 25px 0 25px;
  z-index: 1;
}

.clothes__clothing-item-img {
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 20px rgb(138, 138, 138);
  border: 1px solid gray;
  border-radius: 15px;
}

/* testing!
.navbar-links:not(:last-child)::after {
  content: "";
} */

.clothes__img-box {
  position: relative;
}

.clothes__img-box:hover .clothes__clothing-item-img {
  transition: 0.5s ease;
  opacity: 0.3;
}

.clothes__img-box a {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 20px;
  background-color: #04aa6d;
  padding: 16px 25px;
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.clothes__img-box:hover a {
  transition: 0.5s ease;
  opacity: 1;
}

.video-container {
  display: flex;
}

video {
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
}

.footer-fieldset {
  border: none;
  padding: 0;
  margin: 0;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.contacts {
  gap: 10px;
  display: flex;
  flex-direction: column;
  max-width: 30%;
}

.social-media {
  display: flex;
  justify-content: left;
  gap: 10px;
}

.social-media__img {
  width: 35px;
}

.rights {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
