@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");

html {
  scroll-behavior: smooth;
  scroll-padding-top: 65px;
}

body {
  font-family: "Fira Sans", sans-serif;
  background: repeating-linear-gradient(
    225deg,
    #888888 0%,
    #9090b7 50%,
    #a8f0ff 100%
  );
  margin: 0 0 0;
  margin-bottom: 500px;
}

.body-part {
  margin: auto;
  margin-top: 70px;
  max-width: 900px;
  /* padding-top: 20px; */
}

.nav-bar {
  background-color: rgba(252, 252, 252, 0.6);
  border-radius: 0 0 15px 15px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  /* z-index: 2; */
}

.nav-bar-links__link {
  color: whitesmoke;
  padding: 5px 10px;
  border-radius: 20px;
  text-decoration: none;
  background-color: #9090b7;
}

.nav-bar__title {
  font-family: "Kalam", cursive;
  margin: 0;
}

.nav-bar-links {
  display: flex;
  gap: 15px;
  font-size: 17px;
}

/* tableinstead of bootstrap!
.table-container {
  display: flex;
} */

.table-container__table {
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
}

.table-container__table,
th,
td {
  border-collapse: collapse;
  border: 1px solid;
  width: 900px;
  margin: auto;
  text-align: center;
}

thead {
  font-style: italic;
}

.clothes {
  height: 280px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 25px 0 25px;
  /* z-index: 1; */
}

.clothes__clothing-item-img {
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 20px rgb(138, 138, 138);
  border: 1px solid gray;
  border-radius: 15px;
}

/* testing!
.navbar-links:not(:last-child)::after {
  content: "";
} */

.clothes__img-box {
  flex-shrink: 1;
  position: relative;
  overflow: hidden;
  transition: 0.5s ease;
}

.clothes__img-box:hover {
  transform: scale(1.03);
}

.clothes__img-box:hover .clothes__clothing-item-img {
  opacity: 0.3;
}

.clothes__img-box a {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 20px;
  background-color: #04aa6d;
  padding: 16px 25px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: 0.5s ease;
}

.clothes__img-box:hover a {
  opacity: 1;
}

.clothes__img-box a:hover {
  background-color: rgb(69, 221, 69);
}

.clothes_img-box__discount {
  position: absolute;
  background-color: yellow;
  color: black;
  font-weight: bold;
  font-size: 18px;
  width: 220px;
  text-align: center;
  transform: rotate(45deg);
  top: 20px;
  right: -75px;
  z-index: 1;
}

/* instead of bootstrap!
.video-container {
  display: flex;
} */

video {
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
}

.footer-fieldset {
  border: none;
  /* padding: 0;
  margin: 0; */
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.contacts {
  gap: 10px;
  display: flex;
  flex-direction: column;
  max-width: 30%;
}

.social-media {
  display: flex;
  justify-content: left;
  gap: 10px;
}

.social-media__img {
  width: 35px;
}

.rights {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
